.SectionContainer {
  height: 850px;
  width: 100%;
  padding-top: 50px;
  @media (max-width: 1250px) {
    height: 120vh;
  }
  @media (max-width: 900px) {
    height: 110vh;
  }
  @media (max: width 800px) {
    height: 100%;
  }
}

.Container {
  padding: 5%;
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
  //   flex-basis: 0.5%;
  @media (max-width: 1250px) {
    flex-direction: column;
  }
}

.TextContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  h1 {
    font-size: 3.2em;
    span {
      background-image: linear-gradient(
        to right,
        rgb(255, 127, 34),
        rgb(255, 65, 65)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  h3 {
    font-size: 2em;
  }
}

.SVGContainer {
  flex: 1;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Button {
  color: #fff;
  font-size: 1.6em;
  width: 120px;
  height: 8%;
  cursor: pointer;
  border-radius: 4px;
  background: transparent;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(45deg, rgb(255, 127, 34), rgb(255, 65, 65)) 1;
  box-shadow: 0 0 12px 0 rgb(255, 65, 65);
  @media (max-width: 1250px) {
    height: 40px;
  }
  &:hover {
    background: linear-gradient(45deg, rgb(255, 127, 34), rgb(255, 65, 65));
  }
}
